{% extends "index.html" %}



{% block main %}

<h1>Adauga SOS nou</h1>

<form action="#" method="post" enctype="multipart/form-data">

Tipul SOS-ului:<br>
<select>
  <option value="saab">Gasit</option>
  <option value="opel">Donez</option>
  <option value="audi">Disparut</option>
</select>
<br>


Allatfajta:<br>
<select>
  <option value="volvo">Caine</option>
  <option value="saab">Pisica</option>
  <option value="opel">Cal</option>
  <option value="audi">Tojasteknos</option>
</select>

<br>



<div>
  Titlu<br>
  <input type="text" name="titlu">
  <br>
</div>
<div>  
  Descriere<br>
  <textarea name="descriere" rows="3"></textarea>
  
</div>

<div>
  Telefon:<br>
  <input type="text" name="telefon">
</div>  

  Localitate:<br>

<div>
	<input id="localitate" title="Localitatea">
</div>
  
  <br>
  
  Poze<br>
  



<form action="{{ baseURL('adaugasos/imageupload') }}" class="dropzone" id="myawesomedropzone" enctype="multipart/form-data"></form>
<form action="{{ baseURL('adaugasos/imageupload') }}" class="dropzone" id="myawesomedropzone" enctype="multipart/form-data"></form>



  <input type="submit" value="Adauga sos" name="submit">
</form>


<!-- {{ baseURL() }}

{{baseURLnoIndex()}} -->



<script src="{{ baseURLnoIndex('/scripts/vendor/jquery/jquery-ui.js') }}"></script>


<script>
Dropzone.options.myawesomedropzone = {
  paramName: "file", // The name that will be used to transfer the file
  maxFilesize: 1.5, // MB
  parallelUploads: 2,
  maxFiles: 10,
  addRemoveLinks: true,
  createImageThumbnails: true,
  accept: function(file, done) {
    if (file.name == "justinbieber.jpg") {
      done("Naha, you don't.");
    }
    else { done(); }
  }

};

</script>



<script>


var availableTagsLocations = [];

$( "#localitate" ).autocomplete({
	source: availableTagsLocations
});

var data = [];

 $(document).ready(function(){              
     $('#localitate').keyup(function () {
     	// alert('changed');
     	 if( $("#localitate").val().length > 1 ){

     	//the ajax request
     	var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            	// gets the requested data from the server
                window.data = xmlhttp.responseText;
                // splits and puts into the variable
                window.availableTagsLocations = window.data.split("/");
            }
        }

        // sends the requiest to the controller 
       	var local = "http://localhost/anuntulmeu/index.php/adaugasos/localitati/" + $("#localitate").val();
       	 // alert(window.location.hostname);
        xmlhttp.open("GET", local , true);
        xmlhttp.send();





     	$( "#localitate" ).autocomplete({
			source: availableTagsLocations
		});
     	 }

     });
 });

</script>


{% endblock %}