<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block header %}
			<script src="{{ baseURLnoIndex('scripts/vendor/jquery/external/jquery/jquery.js') }}"></script>
			<script src="{{ baseURLnoIndex('scripts/vendor/dropzone.js') }}"></script>
			<link href="{{ baseURLnoIndex ('scripts/vendor/jquery/jquery-ui.css') }} " rel="stylesheet">
			<link rel="stylesheet" href="{{ baseURLnoIndex('vendor/bootstrap/style.css') }}" />
			<link href="{{ baseURLnoIndex ('stylesheets/dropzone.css') }}" type="text/css" rel="stylesheet" />
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

			<title>{% block title %} Example title {% endblock %}</title>
		{% endblock %}
	</head>

<body>

{% block body %}
	{% block menu %}
<!-- top menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href=" {{ baseURL() }} ">Home</a></li>
            <li><a href=" {{ baseURL('contact') }} ">Contact</a></li>
            <li><a href=" {{ baseURL('ajutor') }} ">Ajutor</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <a href=" {{ baseURL('adaugasos') }} " class="btn btn-danger">Adauga SOS</a>
            <input type="text" class="form-control" placeholder="Search...">
            <a href=" {{ baseURL('adaugasos') }} " class="btn btn-info">Cautare</a>
          </form>
        </div>
      </div>
    </nav>
<!-- end top menu -->
	{% endblock %}
<div> .</div>
<div> .</div>

<div class="container-fluid">
<div class="row">
<div class="col-sm-12 col-md-12 main">
	{% block main %}

	


	{% endblock %}
</div>
</div>
</div>


<!-- example for the variable echoing -->
<!-- <p> </p> -->


{% endblock %}
 

 <!-- {{ baseURL('contact') }} -->


</body>

</html>